.breadcrumb
  = link_to @league_tournament.league.name, league_path(@league_tournament.league), class: "text-blue-600"
  = link_to @league_tournament.name, league_tournament_path(@league_tournament.league, @league_tournament.tournament), class: "text-blue-600"

.inner-container(ng-app="leaderboard")
  h2.text-3xl.font-bold Leaderboard
  - if !@league_tournament.tournament.completed?
  section.notice.p-2.bg-yellow-100.border-yellow-400.border.mt-4
    span.notice-description.mr-1 = @league_tournament.tournament.status
  section.mt-4
    h3.text-xl.border-b-2 Tournament Leaders
    table.table-minimal.w-full.border-gray-300(team-leaders="true" ng-init="leagueTournamentID=#{@league_tournament.id}")
      tr(ng-repeat="team in teamLeaders")
        td.p-2.border-b.border-gray-300
          | {{team.name}}
        td.p-2.border-b.border-gray-300
          | {{team.score}}

  section.mt-6
    h3.text-xl.border-b-2 Player Leaders
    table.table-minimal.table-fixed.w-full.border-gray-300(player-leaders="true" ng-init="leagueID=#{params[:league_id]};tournamentID=#{params[:tournament_id]};")
      thead
        tr
          th.p-2.border-b.border-gray-300.text-left
            | Golfer
          th.p-2.border-b.border-gray-300.text-left
            | Foursome
          th.p-2.border-b.border-gray-300.text-left
            | Total
          th.p-2.border-b.border-gray-300.text-left
            | Thru
      tbody
        tr(ng-repeat="player in playerLeaders")
          td.p-2.border-b.border-gray-300
            | {{player.name}}
          td.p-2.border-b.border-gray-300
            | {{player.user_name}}
          td.p-2.border-b.border-gray-300
            | {{player.score}}
          td.p-2.border-b.border-gray-300
            | {{player.status}}
