h2.text-3xl.font-bold Sign up

section.mt-4.max-w-sm
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    div.mt-2
      div.font-bold = f.label :email
      = f.email_field :email, autofocus: true, class: "border rounded w-full p-2"
    div.mt-2
      div.font-bold = f.label :password
      = f.password_field :password, autocomplete: "off", class: "border rounded w-full p-2"
    div.mt-2
      div.font-bold = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off", class: "border rounded w-full p-2"

    div.mt-2 = f.submit "Sign up", class: "border bg-green-600 font-bold px-4 py-2 rounded text-white cursor-pointer hover:bg-green-500"

    br

  = render "devise/shared/links"
