---
http_interactions:
- request:
    method: get
    uri: http://api.espn.com/v1/sports/golf/pga/events/2700?apikey=dv58z289n3pf5yw4gxrpzrwq
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"sports" :[{"name" :"golf","slug" :"golf","id" :1100,"uid" :"s:1100","leagues"
        :[{"name" :"PGA Tour","slug" :"pga","abbreviation" :"pga","id" :1106,"uid"
        :"s:1100~l:1106","groupId" :1,"shortName" :"PGA","events" :[{"id" :2700,"uid"
        :"s:1100~l:1106~e:2700","date" :"2017-04-06T04:00:00Z","endDate" :"2017-04-09T04:00:00Z","season"
        :{},"competitions" :[{"name" :"2017 Masters Tournament","id" :2700,"uid" :"s:1100~l:1106~c:2700","date"
        :"2017-04-06T04:00:00Z","endDate" :"2017-04-09T04:00:00Z","location" :"Augusta,
        GA","stats" :{"scoringSystem" :"Medal","purse" :1.0E7,"defendingChampion"
        :"Danny Willett","cupPlayoffs" :false,"rounds" :4,"winner" :"Sergio Garcia","playoffRounds"
        :1},"competitors" :[{"type" :"athlete","isWinner" :true,"place" :1,"score"
        :"-9","athlete" :{"id" :158,"firstName" :"Sergio","lastName" :"Garcia","displayName"
        :"Sergio Garcia","shortName" :"S. Garcia","place" :1,"links" :{"api" :{"athletes"
        :{"href" :"http:\/\/api-partners.espn.com\/v1\/sports\/golf\/athletes\/158"}},"web"
        :{"athletes" :{"href" :"http:\/\/www.espn.com\/golf\/players\/profile?playerId=158"}}},"stats"
        :{"currentPosition" :1,"wasTied" :false,"madeCut" :true,"currentPar" :288,"regularScore"
        :279,"scoreToPar" :-9,"hadPlayoff" :true,"wonPlayoff" :true,"playoffScore"
        :3,"amount" :1980000.0,"officialAmount" :1980000.0,"cupPoints" :600,"fairwaysHit"
        :79.81,"greensInRegulation" :74.67,"driveDistanceAverage" :291.88,"puttsGreensInRegulationAverage"
        :2.213,"sandSaves" :62.5,"longDrive" :330,"penalties" :0}},"linescores" :[{"period"
        :1,"label" :"1","score" :71,"par" :72,"thru" :18},{"period" :2,"label" :"2","score"
        :69,"par" :72,"thru" :18},{"period" :3,"label" :"3","score" :70,"par" :72,"thru"
        :18},{"period" :4,"label" :"4","score" :69,"par" :72,"thru" :18},{"period"
        :5,"label" :"5","score" :3,"par" :4,"thru" :1}],"status" :{"id" :3,"description"
        :"COMPLETE","detail" :"-3(F)","shortDetail" :"-3(F)","state" :"post"}},{"type"
        :"athlete","isWinner" :false,"place" :2,"score" :"-9","athlete" :{"id" :569,"firstName"
        :"Justin","lastName" :"Rose","displayName" :"Justin Rose","shortName" :"J.
        Rose","place" :2,"links" :{"api" :{"athletes" :{"href" :"http:\/\/api-partners.espn.com\/v1\/sports\/golf\/athletes\/569"}},"web"
        :{"athletes" :{"href" :"http:\/\/www.espn.com\/golf\/players\/profile?playerId=569"}}},"stats"
        :{"currentPosition" :2,"wasTied" :false,"madeCut" :true[...]
