<div class="side-image">
  <div class="images-wrapper"></div>
  <div class="side-image-content">
    <h4>A Good Weekend Spoiled</h4>
    <h1>Augusta Peaches</h1>
    <p>
      Hello, friends. Welcome to the clubhouse. Gather with friends or meet them here. Put your golf knowledge to the test by picking your foursome. Avoid the cut and bragging rights are yours on Sunday. We meet four times a year. See you then.
    </p>
  </div>
</div>
