.breadcrumb
  = link_to @draft.league_tournament.name, league_tournament_path(@draft.league_tournament)

h2 = "#{@draft.league.name} #{@draft.league_tournament.name} Draft"

= react_component("draft/Draft", draft_id: @draft.id, teamCount: @draft.league_tournament.league.teams.count)
