<footer class="footer bg-green-300">
  <div class="footer-logo text-center mb-4">
    <img class="h-12 mx-auto" src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/EmeraldLake.jpg" />
  </div>
  <div class="footer-links text-center overflow-hidden flex justify-center px-4 text-white">
    <ul class="mx-16">
      <li>
        <h3 class="font-bold">Content</h3>
      </li>
      <li>
        <%= link_to "Home", root_path, class: "text-gray-300" %>
      </li>
      <li>
        <%= link_to "Leagues", leagues_path, class: "text-gray-300" %>
      </li>
    </ul>
    <ul class="mx-16">
      <li>
        <h3 class="font-bold">Follow Us</h3>
      </li>
      <li>
        <a class="text-gray-300" href="http://twitter.com/dubilla" target="_blank">Twitter</a>
      </li>
      <li>
        <a class="text-gray-300" href="http://github.com/dubilla/Augusta" target="_blank">GitHub</a>
      </li>
    </ul>
    <ul class="mx-16">
      <li>
        <h3 class="font-bold">Contact</h3>
      </li>
      <li>
        <a class="text-gray-300" href="mailto:dan.ubilla+augusta@gmail.com">Email</a>
      </li>
    </ul>
  </div>
  <p class="text-center text-gray-300 text-xs">Made in New York, 2014</p>
</footer>
