footer.footer.bg-green-300
  .footer-logo.text-center.mb-4
    img.h-12.mx-auto src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/EmeraldLake.jpg"
  .footer-links.text-center.overflow-hidden.flex.justify-center.px-4.text-white
    ul.mx-16
      li
        h3.font-bold Content
      li
        a.text-gray-300 href="#{root_path}" Home
      li
        a.text-gray-300 href="#{leagues_path}" Leagues
    ul.mx-16
      li
        h3.font-bold Follow Us
      li
        a.text-gray-300 href="http://twitter.com/dubilla" target="_blank" Twitter
      li
        a.text-gray-300 href="http://github.com/dubilla/Augusta" target="_blank" GitHub
    ul.mx-16
      li
        h3.font-bold Contact
      li
        a.text-gray-300 href="mailto:dan.ubilla+augusta@gmail.com" Email
  p.text-center.text-gray-300.text-xs Made in New York, 2014
